- [:notice, :error, :alert].each do |level|
  - unless flash[level].blank?
    %div{class: "flash alert alert-#{flash_class(level)}", style: "padding-left: 0; padding-right: 0;"}
      .container-fluid
        = content_tag :p, flash[level]